.Navbar {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  
  .Navbar > .nav-logo {
    font-weight: 700;
    font-size: 36px;
    margin: 15px;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Great Vibes', cursive;
  }
  .Navbar > .nav-logo >a{
    color: black;
  }
  .Navbar .icons{
    display: flex;
    flex-direction: row;
    z-index: 100;
  }
  .Navbar .icons a{
    font-size:1.3rem;
    color:black;
    margin: 0 .6rem;
    cursor: pointer;
    position: relative;
  }
  .Navbar .icons .profile .dropdown {
    position: relative;
    display: inline-block;
  }
 
  .Navbar .icons .profile .dropdown span{
    font-size:1.4rem;
    margin: 1rem 0;
    cursor: pointer;
  }
  
  .Navbar .icons .profile .dropdown .dropdown-content {
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    height: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 3px;
    z-index: 1;
    transform: translateX(-150px);
    font-size: 14px;
    border-radius:5px;
  }
  .Navbar .icons .profile .dropdown .dropdown-content div{
    padding: .6rem 0;
    text-transform:uppercase;
    transition: all 0.35s ease-in-out;
  }
  .Navbar .icons .profile .dropdown .dropdown-content div:hover{
    background-color: rgba(230, 230, 230, 0.66);
  }
  .Navbar .icons .profile .dropdown .dropdown-content .your-name{
    font-weight: bold;
    color:black;
  }
  .Navbar .icons .profile .dropdown .dropdown-content .your-name:hover{
    background: none;
  }
  .Navbar .icons .profile .dropdown .dropdown-content .log-out a{
     color: red;
  }
  .Navbar .icons .profile .dropdown .dropdown-content a{
    font-size:14px;
    color:black;

  }
  #cart-quantity{
    background-color:black;
    padding:2px 6px;
    border-radius: 50%;
    font-size:10px;
    color:white;
    position:absolute;
    bottom:-1px;
    left:10px;
  }
  
  .Navbar > .nav-items > a {
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    text-transform: uppercase;
    padding: .4rem;
  }
  .Navbar > .nav-items > a::before {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: .6px;
    left: 50%;
    position: absolute;
    background:black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .Navbar > .nav-items > a:hover::before {
    width: 100%; 
  left: 0; 
  }
  
  .Navbar > .nav-toggle {
    display: none;
  }
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    display:block;
  }
  .overlay .search-bar{
    position: relative;
  }
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 13.7px;
    font-size: 15px;
    border: none;
    float: left;
    width: 100%;
    background: white;
    
    outline: none;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    color: black;
    right: 0;
    position:absolute;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background:white;
    transition:all 0.45s ease-in-out;
    
  }
  .overlay button:hover{
    background:black;
  }
  .overlay button:hover a{
    color:white;
  }
  
.update-profile-form{
  margin: 8rem auto;
  width: 40%;
  min-width: 20rem;
  padding:1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  width:20rem;
  margin: 2em 0;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000000;
  outline: 0;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: .8rem;
  color: #000000;
}

.form__field:focus {
  padding-bottom: 6px;
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: .8rem;
}

.search-box{
margin: 20rem auto;
 background:white;
 display: flex;
 width:60%;
 min-width: 20rem;
 align-items: center;
 padding:.4rem .6rem;
 border-radius: 4rem;
}
.search-box input{
  padding:.6rem;
  outline: none;
  border: none;
  border-radius: 1px;
  font-size: 1rem;
  width:95%;
 
}
.search-box .search-button{
  font-size:2rem;
  cursor: pointer;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
@media (max-width:800px) {
  .form__group {
    width: 15rem;
  }
}

  
  
  @media (max-width: 1000px) {
    .Navbar{
        width: 100%;
    }
    .Navbar .icons a{
        margin:0 .4rem;
        font-size: 1.2rem;
    }
    .Navbar > .nav-items {
      position: absolute;
      top: 60px;
      display: flex;
      flex-direction: column;
      background:white;
      color: black;
      left: 0;
      width: 100%;
      height: max-content;
      transform: translateX(-100%);
      transition: all .45s;
      z-index: 100;
    }
  
    .Navbar > .nav-items > a::before {
        background: transparent;
    }
  
    .Navbar > .nav-items.open {
        transform: translateX(0);
    }
  
    .Navbar > .nav-toggle {
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  
    .nav-toggle > .bar {
      position: relative;
      width: 32px;
      height: 2px;
      background: black;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle > .bar::before,
    .nav-toggle > .bar::after {
      content: "";
      position: absolute;
      height: 2px;
      background: black;
      border-radius: 2px;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle > .bar::before {
      width: 25px;
      transform: translateY(-8px);
      right: 0;
    }
  
    .nav-toggle > .bar::after {
      width: 32px;
      transform: translateY(8px);
    }
  
    .nav-toggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;
    }
  
    .nav-toggle.open > .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
  
    .nav-toggle.open > .bar::after {
      transform: rotate(-45deg) translate(26px, 26px);
    }
  
  
  }